
.header{
    display: flex;
    /* flex: 1; */
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
}
ul{
    padding: 0;
    display: flex;

}
li {
    list-style: none;
    margin: 20px;
    font-weight: 600;
    color: #E5E7EB;
}
.hero {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.textone {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
    margin: 0;
}
.texttwo{
    color: #E5E7EB;
    font-size: 18px;
    margin-top:0;
}
.logo{
    font-size: 24px;
    font-weight: 900;
}
.smallbox{
    width: 500px;
    margin-bottom: 30px;
    padding : 10px;
}
.smallbox.two{
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.box{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding: 90px ;
}
.sign{
    padding: 10px 30px;
    border-radius: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 17px;
    border-width: 0;
}
.info{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}
.mid{
    display: flex;
    flex-direction: column;
    padding: 90px;
}
.blank {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius:12px;
    margin: 30px;
    margin-bottom: 0;
}
.infotext{
    width:150px;
    text-align: center;
    padding: 5px 30px 30px;
}
.pieces{
    display: flex;
    justify-content: center;
}
.piece{
    display: flex;
    flex-direction: column;
}
.middown{
    background-color: #E5E7EB;
    padding: 150px 200px;
}
.thortext{
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: start;
    color: #1F2937;
}
/* .quote{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:;
} */
.thor{
    display: flex;
    justify-content: end;
    font-size: 30px;
    font-weight: 900;
}
.bottom{
    padding: 100px;
}
.btmcontainer{
    background-color: #3882F6;
    display: flex;
    padding: 50px;
    border-radius: 8px;
    color: #F9FAF8;
}
.action{
    font-weight: 900;
}
.signup{
    background-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    color: #E5E7EB;
    border-color: #E5E7EB;
    margin-left: 300px;
    width: 100px;
    height: 30px;
}
.bt{
    display: flex;
    align-items: center;
}
.ft{
    background-color: #1F2937;
    padding: 30px;
}
.ft .company{
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-weight: 900;
}